@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap";
@green:  #4caf50;
@white: #fff;
@oswald: 'Oswald', sans-serif;
@keyframes "navLinkAnim" {
	from {
		background-image: linear-gradient(to left, $green, $green);
		background-repeat: no-repeat;
		background-size: 50% 2px;
		background-position: right bottom, 1px 0;
	}
	to {
		background-image: linear-gradient(to left, $green, $green);
		background-repeat: no-repeat;
		background-size: 100% 2px;
		background-position: right bottom, 1px 0;
	}
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.nav-item {
	padding-right: 15%;
}
.navbar-nav {
	&: {
		last-child {
			margin-right: 20%;
		}
	}
}
.top-nav-slide {
	position: relative;
	width: 100%;
}
.box {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.nav {
	z-index: 9;
	margin-top: 3%;
}
.header {
	z-index: 9;
	margin-top: 20%;
	>h2 {
		font-family: $oswald
		text-transform: uppercase;
		font-size: 4em;
		letter-spacing: 0.2em;
		font-weight: 500;
	}
	>h6 {
		font-family: $oswald
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin-top: 2%;
		font-weight: 400;
	}
}
.uppercase {
	text-transform: uppercase;
}
.lighter {
	font-weight: lighter;
}
.nav-top {
	>.nav-link {
		font-family: $oswald
		text-transform: uppercase;
		font-size: 0.9em;
		letter-spacing: 0.3em;
		background-image: linear-gradient(to left, $green, $green);
		background-repeat: no-repeat;
		background-size: 50% 2px;
		background-position: right bottom, 1px 0;
		&:hover {
			animation: navLinkAnim 0.4s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
}
.carousel-indicators {
	[data-bs-target] {
		font-family: $oswald
		text-transform: uppercase;
		font-size: 1.5em;
		color: $white;
		height: auto;
		text-indent: 0;
		background: transparent;
		margin-right: 0.25em;
	}
	>button.active {
		margin-bottom: 1%;
		font-size: 2.3em;
		background-image: linear-gradient(to right, $green, $green);
		background-repeat: no-repeat;
		background-size: 100% 3px;
		background-position: left center, 1px 0;
	}
}
.intro {
	margin-top: 10%;
}
.introduction-img {
	max-width: 35%;
	height: auto;
}
.weare {
	font-weight: bold;
	font-size: 2.3em;
	color: #333333;
	margin-top: 30%;
}
.squad {
	font-size: 2.7em;
	color: #504e4e;
}
h2 {
	font-family: $oswald
	font-size: 2.5em;
}
.card {
	margin-top: 20%;
	border: none;
	border-radius: 0;
}
.card-serv-title.card-title {
	font-family: $oswald
	color: #252525;
	padding-bottom: 5%;
	font-size: 1.5em;
	background-image: linear-gradient(to right, #252525, #252525);
	background-repeat: no-repeat;
	background-size: 1.5em 2px;
	background-position: left 1px bottom;
}
.card-serv-text.card-text {
	margin-top: 20%;
}
.service-img {
	box-shadow: 0px 0px 15px 3px #DBDBDB;
	border-radius: 50%;
}
.serv-link {
	text-decoration: none;
	&:hover {
		>.card {
			background-image: linear-gradient(to left, $green, $green);
			background-repeat: no-repeat;
			background-size: 100% 3px;
			background-position: right bottom, 1px 0;
			>.card-body {
				>.card-text {
					>span {
						color: #252525;
						font-weight: normal;
					}
				}
			}
		}
	}
}
.section-header {
	margin-top: 10%;
	padding-bottom: 7%;
	background-image: linear-gradient(to right, #252525, #252525);
	background-repeat: no-repeat;
	background-size: 10% 2px;
	background-position: left 1px bottom;
	font-weight: bold;
	letter-spacing: 0.1em;
}
.works-list {
	font-size: 0.7em;
	>.nav-item {
		padding-right: 2%;
		margin: 0;
		>.nav-link {
			text-decoration: none;
			color: #252525;
			opacity: 30%;
			&:hover {
				opacity: 100%;
			}
		}
	}
}
#works {
	margin-top: 9%;
}
#services {
	margin-top: 9%;
}
#team {
	margin-top: 9%;
}
#feedback {
	margin-top: 9%;
}
#contact {
	margin-top: 9%;
}
.work-card {
	margin-top: -30%;
}
.work-card-title {
	font-family: $oswald
	font-size: 3em;
	margin-top: -40%;
}
.work-card-title.left {
	margin-left: -22%;
	width: 75%;
}
.work-card-title.right {
	margin-left: 85%;
	width: 45%;
}
.work-card-text {
	font-family: $oswald
	margin-top: 3em;
	width: 70%;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
.work-card-label {
	font-family: $oswald
	width: 70%;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	color: #252525;
	opacity: 40%;
	margin-top: 1em;
}
.work-card-text.left {
	margin-left: 25%;
}
.work-card-label.left {
	margin-left: 25%;
}
.read.left {
	margin-left: 25%;
}
.read {
	visibility: hidden;
	width: 70%;
	margin-top: 0.5em;
}
.works-link {
	text-decoration: none;
	color: #252525;
	&:hover {
		color: #252525;
		>.card {
			>.card-body {
				>.card-title {
					text-decoration: $green line-through 5%;
				}
				>.read {
					visibility: visible;
					text-decoration: $green line-through 15%;
				}
			}
		}
	}
}
.view-more {
	font-family: $oswald
	color: #252525;
	text-decoration: none;
	&:hover {
		color: #252525;
	}
}
.view-more-block {
	margin-top: 33%;
}
.image-placeholder {
	font-family: $oswald
	background-color: $white;
	opacity: 50%;
	height: 2.5em;
	width: 100%;
	margin-top: -14 %;
	font-size: 1.5em;
}
a.team-link {
	text-decoration: none;
	color: #252525;
	&:hover {
		>.image-placeholder {
			opacity: 0%;
		}
		>.team-image-label {
			opacity: 99%;
		}
	}
}
.team-image-label {
	font-family: $oswald
	background-color: $white;
	height: 8em;
	width: 100%;
	margin-top: -30%;
	opacity: 0%;
	>span {
		font-size: 1.5em;
		background-image: linear-gradient(to left, #252525, #252525);
		background-repeat: no-repeat;
		background-size: 1.5em 2px;
		background-position: 50% bottom;
	}
	>h5 {
		margin-top: 3%;
		font-size: 1.25em;
	}
	>h6 {
		margin-top: 3%;
		font-size: 0.8em;
	}
}
.carousel-item.text-center {
	font-family: $oswald
}
.feedback-author {
	margin-top: 2em;
}
.feedback-number {
	margin-top: 1.75em;
}
.stars {
	>img {
		width: 1.25em;
	}
}
.work {
	font-family: $oswald
	>img {
		margin-top: 3em;
		margin-bottom: 3em;
		height: 3em;
	}
	>h6 {
		margin-top: 1.5em;
		letter-spacing: 0.2em;
	}
}
.us {
	font-family: $oswald
	color: $white;
	background-color: $green;
	>img {
		margin-top: 3em;
		margin-bottom: 3em;
		height: 3em;
	}
	>h6 {
		margin-top: 1.5em;
		letter-spacing: 0.2em;
	}
}
.footer {
	background-color: #2e2e2e;
}
.address {
	>p {
		font-family: $oswald
		color: $white;
		opacity: 50%;
		font-size: 1em;
		&:first-child {
			margin-top: 8em;
		}
	}
}
.social {
	margin-top: 1em;
	margin-right: 1em;
	height: 1.7em;
	opacity: 50%;
	margin-bottom: 3em;
	&:hover {
		opacity: 100%;
	}
}
.footer-line {
	font-family: $oswald
	height: 5em;
	width: auto;
	color: $white;
	background-color: #252525;
	>p {
		margin: 0;
		padding: 0;
		opacity: 50%;
	}
}
